node_modules
dist
coverage
pnpm-lock.yaml
.nx
docs/backend-spec.md
*.pdf
libs/proto/src/gen
libs/proto/gen
docs/architecture.md
docs/claude-code-build-prompts.md
apps/*/src/gen
apps/*/prisma/migrations/**/*.sql
